
  <div class="row message-row">
    <a data-toggle="modal" href="#messagemod<%= message.id %>">
      <div class="span2">
        <strong><%= image_tag( message.sender.picture.url(:tiny), :class => 'profile-picture') if message.sender.picture.file? %> <%= message.sender %></strong>
      </div>
      <div class="span3 message-body">
        <%= message.body.split[0...6].join(' ') %>
        <% if message.body.split[0...6].join(' ').length < message.body.length %>...<% end %>
      </div>
      <div class="span2">
        <%= message.created_at.to_formatted_s(:short) %>
      </div>
    </a>
      <div class="span1">
        <% if message.is_reply? && message.responded_to.type == 'Message' %>
          <% if message.rating %>
            <%= render message.rating, :message => message %>
          <% elsif message.interaction %>
            <%= form_for( Rating.new( :interaction_id => message.interaction.id ), :url => message_ratings_path(message)) do |f| %>
              <%= f.hidden_field :interaction_id %>
              <%= hidden_field_tag :return_path, type_inbox_path(:type_name => @type) %>
              <%= f.submit "⬆", :class => "btn btn-success btn-mini", :rel => 'tooltip', :title => "Rate Up" %>
              <%= f.submit "⬇", :class => "btn btn-danger btn-mini", :rel => 'tooltip', :title => "Rate Down" %>
            <% end %>
          <% end %>
        <% elsif !message.is_reply? %>
          <span class="muted">
            <% if message.replied_to? %>
              <i class='icon-share-alt' title='Replied to <%= distance_of_time_in_words(Time.now, message.reply.created_at) %> ago'></i> 
              Replied
            <% else %>
              <% if !message.reply_expired? %>
                <a data-toggle="modal" href="#messagemod<%= message.id %>" rel='tooltip' title='Reply within <%= distance_of_time_in_words(Time.now, message.reply_expiry_time) %>'>Needs Reply</a>
              <% else %>
                <i class='icon-time'></i> 
                Expired
              <% end %>
            <% end %>
          </span>
        <% end %>

      </div>
  </div>

  <div class="modal hide fade" id="messagemod<%= message.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Message from <%= message.sender %> <small><%= message.created_at.to_formatted_s(:short) %></small></h3>
    </div>
    <div class="modal-body">
      <blockquote>
        <p><%=h message.body.html_safe %></p>
        <small><%=h message.sender.to_s.html_safe %></small>
      </blockquote>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <% if message.can_reply? %>
        <a href="<%= new_message_path( :to => message.sender.id, :replyto => message.id ) %>" class="btn btn-primary">
          <i class='icon-share-alt'></i> Reply
        </a>
      <% end %>
    </div>
  </div>
